body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    color: #555;
    text-align: center;
    padding: 10px;
    font-family:verdana
}

.image{
    background-color: #fff;
    color: #555;
    text-align: center;
    padding: 10px;
}

h1 {
    margin: 0;
}


.pdf-container{
    display: block;
    margin: 150px;
    /* margin-right: auto; */
    width: 50%;
}